# Site Domain URLs for SEO, Open Graph and canonical links
NEXT_PUBLIC_SITE_URL=https://palashbari-youth-society.vercel.app
NEXT_PUBLIC_APP_URL=https://palashbari-youth-society.vercel.app

# Optional Google Search Console Verification code
# NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
